@import "./normalize.css";
@import "./variables.css";
@import "./fonts.css";
@import "./header.css";
@import "./footer.css";
@import "./buttons.css";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100%;
}
a {
  display: inline-block;
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
img {
  display: flex;
  object-fit: cover;
}
body {
  font-size: 1.6rem;
  font-family: "Merriweather Sans";
  height: 100%;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}
h1 {
  margin: 0;
  font-size: 3.2rem;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 2.4rem;
}
button {
  font-size: 1.6rem;
}
a {
  font-size: 1.4rem;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5rem;
}
